*.aux
*.log
*.toc
*.fls
*.pre
*.out
*.nav
*.snm
*.bbl
*.blg
*.md5
*.dvi
*.dpth
*.auxlock
*.ps
*.synctex.gz
*.fdb_latexmk
*.png
*.gif
*.anim
technical-talk/figures/kobayashi_*
!technical-talk/side-by-side/side-by-side-wind_anim.gif
!technical-talk/side-by-side/side-by-side.gif
technical-talk/scripts/pgf_string.txt
technical-talk/kobayashi_talk5-figure*
**/auto/
